# pre-commit
pre-commit
black

# Data processing
pandas
numpy
openpyxl
matplotlib

# NLP libraries
spacy
stanza
nltk

# Machine learning & deep learning
torch
transformers
pytorch-lightning
scikit-learn
